Repository altive/altfire, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test

chore: Exclude the Podfile.lock from Git (#90)
  .gitignore
  example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.lock
  packages/altfire_configurator/example/pubspec.lock
  packages/altfire_messenger/example/pubspec.lock
  packages/altfire_tracker/example/pubspec.lock
  pubspec.lock
Labels: none

doc: Update push and pull request instructions in README.md
  README.md
Labels: documentation

chore(release): publish packages
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
Labels: documentation

chore(release): publish packages (#92)
  README.md
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
Labels: documentation

fix: Modify dependabot directories to use wildcards
  .github/dependabot.yml
Labels: none

fix: Modify dependabot directories to use wildcards (#93)
  .github/dependabot.yml
Labels: none

build: Update a dependency to the latest release
  example/ios/Podfile
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/pubspec.yaml
  packages/altfire_authenticator/example/ios/Podfile
  packages/altfire_authenticator/example/ios/Podfile.lock
  packages/altfire_authenticator/example/macos/Podfile.lock
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/example/ios/Podfile
  packages/altfire_configurator/example/ios/Podfile.lock
  packages/altfire_configurator/example/macos/Podfile.lock
  packages/altfire_configurator/example/pubspec.yaml
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_lints/pubspec.yaml
  packages/altfire_lints_test/pubspec.yaml
  packages/altfire_messenger/example/ios/Podfile
  packages/altfire_messenger/example/ios/Podfile.lock
  packages/altfire_messenger/example/macos/Podfile.lock
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/example/ios/Podfile
  packages/altfire_tracker/example/ios/Podfile.lock
  packages/altfire_tracker/example/macos/Podfile.lock
  packages/altfire_tracker/example/pubspec.yaml
  packages/altfire_tracker/lib/src/tracker.dart
  packages/altfire_tracker/pubspec.yaml
  pubspec.yaml
Labels: none

chore(release): publish packages
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/CHANGELOG.md
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_lints/CHANGELOG.md
  packages/altfire_lints/pubspec.yaml
  packages/altfire_messenger/CHANGELOG.md
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/CHANGELOG.md
  packages/altfire_tracker/pubspec.yaml
Labels: documentation

chore: Update git push command in README.md
  README.md
Labels: documentation

chore(release): publish packages (#95)
  README.md
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/CHANGELOG.md
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_lints/CHANGELOG.md
  packages/altfire_lints/pubspec.yaml
  packages/altfire_messenger/CHANGELOG.md
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/CHANGELOG.md
  packages/altfire_tracker/pubspec.yaml
Labels: documentation

feat(tracker): Add one navigator observer
  packages/altfire_tracker/lib/src/tracker.dart
Labels: none

test: Add a test for navigatorObserver
  packages/altfire_tracker/test/src/tracker_test.dart
Labels: test

feat(tracker): Add one navigator observer (#96)
  packages/altfire_tracker/lib/src/tracker.dart
  packages/altfire_tracker/test/src/tracker_test.dart
Labels: test

build: Update a dependency to the latest release
  .github/dependabot.yml
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  packages/altfire_authenticator/example/ios/Podfile.lock
  packages/altfire_authenticator/example/macos/Podfile.lock
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/example/ios/Podfile.lock
  packages/altfire_configurator/example/macos/Podfile.lock
  packages/altfire_configurator/example/pubspec.yaml
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_messenger/example/ios/Podfile.lock
  packages/altfire_messenger/example/macos/Podfile.lock
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/example/ios/Podfile.lock
  packages/altfire_tracker/example/macos/Podfile.lock
  packages/altfire_tracker/example/pubspec.yaml
  packages/altfire_tracker/pubspec.yaml
Labels: none

build: Update a dependency to the latest release (#97)
  .github/dependabot.yml
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  packages/altfire_authenticator/example/ios/Podfile.lock
  packages/altfire_authenticator/example/macos/Podfile.lock
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/example/ios/Podfile.lock
  packages/altfire_configurator/example/macos/Podfile.lock
  packages/altfire_configurator/example/pubspec.yaml
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_messenger/example/ios/Podfile.lock
  packages/altfire_messenger/example/macos/Podfile.lock
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/example/ios/Podfile.lock
  packages/altfire_tracker/example/macos/Podfile.lock
  packages/altfire_tracker/example/pubspec.yaml
  packages/altfire_tracker/pubspec.yaml
Labels: none

chore(release): publish packages
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/CHANGELOG.md
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_messenger/CHANGELOG.md
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/CHANGELOG.md
  packages/altfire_tracker/pubspec.yaml
Labels: documentation

chore(release): publish packages (#98)
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/CHANGELOG.md
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_messenger/CHANGELOG.md
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/CHANGELOG.md
  packages/altfire_tracker/pubspec.yaml
Labels: documentation

feat: Add a set of methods to receive notifications
  packages/altfire_messenger/lib/altfire_messenger.dart
  packages/altfire_messenger/lib/src/messenger.dart
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_messenger/test/src/messenger_test.dart
Labels: test

feat: Add a set of methods to receive notifications (#99)
  packages/altfire_messenger/lib/altfire_messenger.dart
  packages/altfire_messenger/lib/src/messenger.dart
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_messenger/test/src/messenger_test.dart
Labels: test

chore(release): publish packages
  packages/altfire_messenger/CHANGELOG.md
  packages/altfire_messenger/pubspec.yaml
Labels: documentation

ci: Update Firebase dependencies
  melos.yaml
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/example/pubspec.yaml
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/example/pubspec.yaml
  packages/altfire_tracker/pubspec.yaml
Labels: none

chore(example): Update minimum iOS SDK version to 15.5.0
  example/ios/Podfile
  example/ios/Podfile.lock
  example/ios/Runner.xcodeproj/project.pbxproj
  example/ios/Runner/AppDelegate.swift
  packages/altfire_authenticator/example/ios/Podfile
  packages/altfire_authenticator/example/ios/Podfile.lock
  packages/altfire_authenticator/example/ios/Runner.xcodeproj/project.pbxproj
  packages/altfire_authenticator/example/ios/Runner/AppDelegate.swift
  packages/altfire_configurator/example/ios/Podfile
  packages/altfire_configurator/example/ios/Podfile.lock
  packages/altfire_configurator/example/ios/Runner.xcodeproj/project.pbxproj
  packages/altfire_configurator/example/ios/Runner/AppDelegate.swift
  packages/altfire_messenger/example/ios/Podfile
  packages/altfire_messenger/example/ios/Podfile.lock
  packages/altfire_messenger/example/ios/Runner.xcodeproj/project.pbxproj
  packages/altfire_messenger/example/ios/Runner/AppDelegate.swift
  packages/altfire_tracker/example/ios/Podfile
  packages/altfire_tracker/example/ios/Podfile.lock
  packages/altfire_tracker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/altfire_tracker/example/ios/Runner/AppDelegate.swift
Labels: none

chore(example): Update minimum macOS SDK version to 10.15
  example/ios/Runner.xcodeproj/project.pbxproj
  example/macos/Podfile.lock
  example/macos/Runner.xcodeproj/project.pbxproj
  example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  example/macos/Runner/AppDelegate.swift
  packages/altfire_authenticator/example/macos/Podfile
  packages/altfire_authenticator/example/macos/Podfile.lock
  packages/altfire_authenticator/example/macos/Runner.xcodeproj/project.pbxproj
  packages/altfire_authenticator/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/altfire_authenticator/example/macos/Runner/AppDelegate.swift
  packages/altfire_configurator/example/macos/Podfile
  packages/altfire_configurator/example/macos/Podfile.lock
  packages/altfire_configurator/example/macos/Runner.xcodeproj/project.pbxproj
  packages/altfire_configurator/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/altfire_configurator/example/macos/Runner/AppDelegate.swift
  packages/altfire_messenger/example/macos/Podfile
  packages/altfire_messenger/example/macos/Podfile.lock
  packages/altfire_messenger/example/macos/Runner.xcodeproj/project.pbxproj
  packages/altfire_messenger/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/altfire_messenger/example/macos/Runner/AppDelegate.swift
  packages/altfire_tracker/example/macos/Podfile
  packages/altfire_tracker/example/macos/Podfile.lock
  packages/altfire_tracker/example/macos/Runner.xcodeproj/project.pbxproj
  packages/altfire_tracker/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/altfire_tracker/example/macos/Runner/AppDelegate.swift
Labels: none

chore: update melos pod scripts
  melos.yaml
Labels: none

chore(release): publish packages
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/CHANGELOG.md
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_messenger/CHANGELOG.md
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/CHANGELOG.md
  packages/altfire_tracker/pubspec.yaml
Labels: documentation

chore(release): publish packages
  README.md
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/CHANGELOG.md
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_messenger/CHANGELOG.md
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/CHANGELOG.md
  packages/altfire_tracker/pubspec.yaml
Labels: documentation

chore: Integrate analysis_options files
  example/analysis_options.yaml
  packages/altfire_authenticator/example/analysis_options.yaml
  packages/altfire_configurator/example/analysis_options.yaml
  packages/altfire_messenger/example/analysis_options.yaml
  packages/altfire_tracker/example/analysis_options.yaml
Labels: none

chore: Integrate analysis_options files (#104)
  example/analysis_options.yaml
  packages/altfire_authenticator/example/analysis_options.yaml
  packages/altfire_configurator/example/analysis_options.yaml
  packages/altfire_messenger/example/analysis_options.yaml
  packages/altfire_tracker/example/analysis_options.yaml
Labels: none

chore: Improve package descriptions and issue tracker URL
  packages/altfire_authenticator/README.md
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/README.md
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_messenger/README.md
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/README.md
  packages/altfire_tracker/pubspec.yaml
Labels: documentation

chore: Improve package descriptions and issue tracker URL (#103)
  packages/altfire_authenticator/README.md
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/README.md
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_messenger/README.md
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/README.md
  packages/altfire_tracker/pubspec.yaml
Labels: documentation

fix(configurator): Fix configurator web unsupported error
  packages/altfire_configurator/lib/src/config.dart
  packages/altfire_configurator/lib/src/configurator.dart
  packages/altfire_configurator/pubspec.yaml
Labels: none

fix(configurator): Fix configurator web unsupported error (#105)
  packages/altfire_configurator/lib/src/config.dart
  packages/altfire_configurator/lib/src/configurator.dart
  packages/altfire_configurator/pubspec.yaml
Labels: none

chore(release): publish packages
  packages/altfire_configurator/CHANGELOG.md
  packages/altfire_configurator/pubspec.yaml
Labels: documentation

build: Update lint package dependencies and integrate custom linting across packages
  .cspell/flutter-words.txt
  example/pubspec.yaml
  packages/altfire_authenticator/analysis_options.yaml
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_authenticator/lib/src/apple_authenticator.dart
  packages/altfire_authenticator/lib/src/auth_exception.dart
  packages/altfire_authenticator/lib/src/authenticatable.dart
  packages/altfire_authenticator/lib/src/authenticator.dart
  packages/altfire_authenticator/lib/src/google_authenticator.dart
  packages/altfire_authenticator/lib/src/phone_authenticator.dart
  packages/altfire_authenticator/lib/src/signing_method.dart
  packages/altfire_authenticator/lib/src/user_extension.dart
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/analysis_options.yaml
  packages/altfire_configurator/example/pubspec.yaml
  packages/altfire_configurator/lib/src/config.dart
  packages/altfire_configurator/lib/src/configurator.dart
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_lints/analysis_options.yaml
  packages/altfire_lints/lib/altfire_lints.dart
  packages/altfire_lints/lib/src/lints/dispose_config.dart
  packages/altfire_lints/pubspec.yaml
  packages/altfire_lints_test/pubspec.yaml
  packages/altfire_messenger/analysis_options.yaml
  packages/altfire_messenger/example/analysis_options.yaml
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_messenger/lib/src/messenger.dart
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_messenger/test/src/messenger_test.dart
  packages/altfire_tracker/analysis_options.yaml
  packages/altfire_tracker/example/pubspec.yaml
  packages/altfire_tracker/lib/src/tracker.dart
  packages/altfire_tracker/pubspec.yaml
Labels: test

build: Update lint package dependencies and integrate custom linting across packages (#111)
  .cspell/flutter-words.txt
  example/pubspec.yaml
  packages/altfire_authenticator/analysis_options.yaml
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_authenticator/lib/src/apple_authenticator.dart
  packages/altfire_authenticator/lib/src/auth_exception.dart
  packages/altfire_authenticator/lib/src/authenticatable.dart
  packages/altfire_authenticator/lib/src/authenticator.dart
  packages/altfire_authenticator/lib/src/google_authenticator.dart
  packages/altfire_authenticator/lib/src/phone_authenticator.dart
  packages/altfire_authenticator/lib/src/signing_method.dart
  packages/altfire_authenticator/lib/src/user_extension.dart
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/analysis_options.yaml
  packages/altfire_configurator/example/pubspec.yaml
  packages/altfire_configurator/lib/src/config.dart
  packages/altfire_configurator/lib/src/configurator.dart
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_lints/analysis_options.yaml
  packages/altfire_lints/lib/altfire_lints.dart
  packages/altfire_lints/lib/src/lints/dispose_config.dart
  packages/altfire_lints/pubspec.yaml
  packages/altfire_lints_test/pubspec.yaml
  packages/altfire_messenger/analysis_options.yaml
  packages/altfire_messenger/example/analysis_options.yaml
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_messenger/lib/src/messenger.dart
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_messenger/test/src/messenger_test.dart
  packages/altfire_tracker/analysis_options.yaml
  packages/altfire_tracker/example/pubspec.yaml
  packages/altfire_tracker/lib/src/tracker.dart
  packages/altfire_tracker/pubspec.yaml
Labels: test

fix(messenger): remove deprecated iOS notification property and update flutter_local_notifications dependency
  packages/altfire_messenger/lib/src/messenger.dart
  packages/altfire_messenger/pubspec.yaml
Labels: none

build: Update Firebase dependencies
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  melos.yaml
  packages/altfire_authenticator/example/ios/Podfile.lock
  packages/altfire_authenticator/example/macos/Podfile.lock
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/example/ios/Podfile.lock
  packages/altfire_configurator/example/macos/Podfile.lock
  packages/altfire_configurator/example/pubspec.yaml
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_messenger/example/ios/Podfile.lock
  packages/altfire_messenger/example/macos/Podfile.lock
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/example/ios/Podfile.lock
  packages/altfire_tracker/example/macos/Podfile.lock
  packages/altfire_tracker/example/pubspec.yaml
  packages/altfire_tracker/pubspec.yaml
  pubspec.yaml
Labels: none

build(deps): update timezone dependency to ^0.10.0 in /packages/altfire_messenger
  packages/altfire_messenger/pubspec.yaml
Labels: none

ci: add GitHub Actions workflow for automated release pull requests
  .github/workflows/create-release-pull-request.yaml
Labels: none

ci: update release workflow to support optional package selection and improved PR creation
  .github/workflows/create-release-pull-request.yaml
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"
