Repository altive/altfire, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"

add sign out button
  packages/altfire_authenticator/example/android/app/google-services.json
  packages/altfire_authenticator/example/ios/Runner.xcodeproj/project.pbxproj
  packages/altfire_authenticator/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/altfire_authenticator/example/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/altfire_authenticator/example/ios/Runner/Info.plist
  packages/altfire_authenticator/example/lib/firebase_options.dart
  packages/altfire_authenticator/example/lib/main.dart
  packages/altfire_configurator/example/android/app/google-services.json
  packages/altfire_configurator/example/ios/Runner/GoogleService-Info.plist
Labels: none

Update Firebase options for Android and iOS clients
  packages/altfire_authenticator/example/lib/firebase_options.dart
Labels: none

fix: GoogleService-Info.plist最新化
  .vscode/launch.json
  packages/altfire_authenticator/example/ios/Flutter/AppFrameworkInfo.plist
  packages/altfire_authenticator/example/ios/Podfile
  packages/altfire_authenticator/example/ios/Podfile.lock
  packages/altfire_authenticator/example/ios/Runner.xcodeproj/project.pbxproj
  packages/altfire_authenticator/example/ios/Runner/GoogleService-Info.plist
  packages/altfire_authenticator/example/lib/firebase_options.dart
  packages/altfire_authenticator/example/macos/Runner/GoogleService-Info.plist
  packages/altfire_configurator/example/ios/Flutter/AppFrameworkInfo.plist
  packages/altfire_configurator/example/ios/Podfile
  packages/altfire_configurator/example/ios/Podfile.lock
  packages/altfire_configurator/example/ios/Runner.xcodeproj/project.pbxproj
Labels: none

Update launch.json, pubspec.yaml, GoogleService-Info.plist, and main.dart
  .vscode/launch.json
  example/ios/Runner.xcodeproj/project.pbxproj
  packages/altfire_authenticator/example/ios/Runner/GoogleService-Info.plist
  packages/altfire_authenticator/example/lib/authenticator_provider.dart
  packages/altfire_authenticator/example/lib/authenticator_provider.g.dart
  packages/altfire_authenticator/example/lib/main.dart
  packages/altfire_authenticator/example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.yaml
Labels: none

Remove unused dependencies and refactor code
  packages/altfire_authenticator/example/lib/authenticator_provider.dart
  packages/altfire_authenticator/example/lib/authenticator_provider.g.dart
  packages/altfire_authenticator/example/lib/main.dart
  packages/altfire_authenticator/example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.yaml
Labels: none

feat(authenticator): Extend fromError in AuthException to support non-FirebaseAuthException types
  example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_authenticator/lib/src/auth_exception.dart
  packages/altfire_authenticator/test/src/auth_exception_test.dart
  packages/altfire_configurator/example/pubspec.lock
  packages/altfire_messenger/example/pubspec.lock
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_tracker/example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: test

chore(authenticator): Translate authentication error class comments to English
  packages/altfire_authenticator/lib/src/auth_exception.dart
Labels: none

feat(authenticator): Extend fromError in AuthException (#72)
  example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_authenticator/lib/src/auth_exception.dart
  packages/altfire_authenticator/test/src/auth_exception_test.dart
  packages/altfire_configurator/example/pubspec.lock
  packages/altfire_messenger/example/pubspec.lock
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_tracker/example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: test

chore(release): publish packages
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
Labels: documentation

chore(release): publish packages (#73)
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
Labels: documentation

chore(authenticator): Add false_secrets
  example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.lock
  packages/altfire_authenticator/pubspec.yaml
Labels: none

chore(authenticator): Add false_secrets (#74)
  example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.lock
  packages/altfire_authenticator/pubspec.yaml
Labels: none

feat(tracker): Added routeFilter parameter to navigatorObservers and improved screen tracking functionality
  packages/altfire_tracker/lib/src/trackable.dart
  packages/altfire_tracker/lib/src/tracker.dart
  packages/altfire_tracker/test/src/tracker_test.dart
Labels: test

test: fix trackScreenView test
  packages/altfire_tracker/test/src/tracker_test.dart
Labels: test

refactor(app): Change deprecated method
  packages/altfire_tracker/lib/src/tracker.dart
Labels: none

refactor: Refactor scripts in melos.yaml
  .github/workflows/code-check.yml
  melos.yaml
Labels: none

chore(tracker): Added an example for sending screen transition events
  packages/altfire_tracker/example/ios/Flutter/AppFrameworkInfo.plist
  packages/altfire_tracker/example/ios/Podfile
  packages/altfire_tracker/example/ios/Podfile.lock
  packages/altfire_tracker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/altfire_tracker/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/altfire_tracker/example/lib/main.dart
Labels: none

feat(tracker): Improve router observer tracker (#75)
  .github/workflows/code-check.yml
  melos.yaml
  packages/altfire_tracker/example/ios/Flutter/AppFrameworkInfo.plist
  packages/altfire_tracker/example/ios/Podfile
  packages/altfire_tracker/example/ios/Podfile.lock
  packages/altfire_tracker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/altfire_tracker/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/altfire_tracker/example/lib/main.dart
  packages/altfire_tracker/lib/src/trackable.dart
  packages/altfire_tracker/lib/src/tracker.dart
  packages/altfire_tracker/test/src/tracker_test.dart
Labels: test

chore: Remove unused VS Code extensions
  .vscode/extensions.json
Labels: none

chore: Remove unused VS Code extensions (#76)
  .vscode/extensions.json
Labels: none

ci/cd: Update dependabot.yml
  .github/dependabot.yml
Labels: none

chore: Update Podfile.lock for macos
  melos.yaml
  packages/altfire_messenger/example/macos/Podfile.lock
  packages/altfire_messenger/example/macos/Runner.xcodeproj/project.pbxproj
  packages/altfire_messenger/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/altfire_tracker/example/macos/Podfile.lock
  packages/altfire_tracker/example/macos/Runner.xcodeproj/project.pbxproj
  packages/altfire_tracker/example/macos/Runner.xcworkspace/contents.xcworkspacedata
Labels: none

ci/cd: Update dependabot.yml
  .github/dependabot.yml
Labels: none

chore: Update Podfile.lock for macos
  melos.yaml
  packages/altfire_messenger/example/macos/Podfile.lock
  packages/altfire_messenger/example/macos/Runner.xcodeproj/project.pbxproj
  packages/altfire_messenger/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/altfire_tracker/example/macos/Podfile.lock
  packages/altfire_tracker/example/macos/Runner.xcodeproj/project.pbxproj
  packages/altfire_tracker/example/macos/Runner.xcworkspace/contents.xcworkspacedata
Labels: none

chore(release): publish packages
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/CHANGELOG.md
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_lints/CHANGELOG.md
  packages/altfire_lints/pubspec.yaml
  packages/altfire_messenger/CHANGELOG.md
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/CHANGELOG.md
  packages/altfire_tracker/pubspec.yaml
Labels: documentation

chore(release): publish packages (#81)
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/CHANGELOG.md
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_lints/CHANGELOG.md
  packages/altfire_lints/pubspec.yaml
  packages/altfire_messenger/CHANGELOG.md
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/CHANGELOG.md
  packages/altfire_tracker/pubspec.yaml
Labels: documentation

chore: Update the dependency packages of example.
  example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.lock
  packages/altfire_configurator/example/pubspec.lock
  packages/altfire_messenger/example/pubspec.lock
  packages/altfire_tracker/example/pubspec.lock
Labels: none

doc: Add `melos bs` to the procedure when publishing
  README.md
Labels: documentation

chore: Update the dependency packages of example (#82)
  README.md
  example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.lock
  packages/altfire_configurator/example/pubspec.lock
  packages/altfire_messenger/example/pubspec.lock
  packages/altfire_tracker/example/pubspec.lock
Labels: documentation

build: Update Podfile.lock
  packages/altfire_authenticator/example/macos/Podfile
  packages/altfire_authenticator/example/macos/Podfile.lock
  packages/altfire_authenticator/example/macos/Runner.xcodeproj/project.pbxproj
  packages/altfire_authenticator/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/altfire_messenger/example/ios/Podfile.lock
  packages/altfire_messenger/example/macos/Podfile.lock
Labels: none

firebase関連のバージョンを10.24.0から10.25.0に更新
  packages/altfire_tracker/example/ios/Podfile.lock
Labels: none

refactor: Improve dependabot groups
  .github/dependabot.yml
Labels: none

chore: Remove firebase dependencies from Melos command
  melos.yaml
Labels: none

chore: Remove all dependencies from Melos.command
  melos.yaml
Labels: none

ci: Improve dependabot schedules (#88)
  .github/dependabot.yml
  melos.yaml
Labels: none

build: Delete unnecessary library names
  packages/altfire_authenticator/lib/altfire_authenticator.dart
  packages/altfire_configurator/lib/altfire_configurator.dart
  packages/altfire_messenger/lib/altfire_messenger.dart
  packages/altfire_tracker/lib/altfire_tracker.dart
Labels: none

build: Delete unnecessary library names (#89)
  packages/altfire_authenticator/lib/altfire_authenticator.dart
  packages/altfire_configurator/lib/altfire_configurator.dart
  packages/altfire_messenger/lib/altfire_messenger.dart
  packages/altfire_tracker/lib/altfire_tracker.dart
Labels: none

feat(authenticator): Publish the function to revoke the Apple user token
  packages/altfire_authenticator/lib/src/authenticator.dart
Labels: none

chore: Exclude the Podfile.lock from Git
  .gitignore
  example/pubspec.lock
  packages/altfire_authenticator/example/pubspec.lock
  packages/altfire_configurator/example/pubspec.lock
  packages/altfire_messenger/example/pubspec.lock
  packages/altfire_tracker/example/pubspec.lock
  pubspec.lock
Labels: none

feat(authenticator): Publish the function to revoke the Apple user token (#91)
  packages/altfire_authenticator/lib/src/authenticator.dart
Labels: none
