Repository altive/altfire, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test

ci: add GitHub Actions workflow for publishing packages to pub.dev
  .github/workflows/publish-to-pub-dev.yaml
Labels: none

ci: remove create release pull request workflow
  .github/workflows/create-release-pull-request.yaml
Labels: none

ci: rename workflow jobs for clarity and improve branch handling in release process
  .github/workflows/create-release-pull-request.yaml
Labels: none

ci: removing unnecessary patch versioning
  .github/workflows/create-release-pull-request.yaml
Labels: none

ci: refactor release PR workflow to improve environment variable handling and add conditional package processing
  .github/workflows/create-release-pull-request.yaml
Labels: none

ci: refactor package handling in release PR workflow for improved readability
  .github/workflows/create-release-pull-request.yaml
Labels: none

ci: use environment variable for package array in release PR workflow
  .github/workflows/create-release-pull-request.yaml
Labels: none

ci: increase timeout for set-version-and-branch job to 60 minutes
  .github/workflows/create-release-pull-request.yaml
Labels: none

ci: remove altfire_lints_test from package array in create-release-pull-request workflow
  .github/workflows/create-release-pull-request.yaml
Labels: none

ci: add GitHub Actions workflow for automated release pull requests (#115)
  .github/workflows/create-release-pull-request.yaml
Labels: none

docs: update release procedures in README to reflect automation with GitHub Actions
  README.md
Labels: documentation

ci: add publish workflow (#117)
  .github/workflows/publish-to-pub-dev.yaml
  README.md
Labels: documentation

refactor: improve type declaration and UI text
  example/lib/main.dart
  packages/altfire_configurator/example/lib/main.dart
Labels: none

build(deps): bump melos from 6.1.0 to 6.3.2
  pubspec.yaml
Labels: none

chore: update example project dependencies to use published packages
  example/pubspec.yaml
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_configurator/example/pubspec.yaml
  packages/altfire_lints_test/pubspec.yaml
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_tracker/example/pubspec.yaml
Labels: none

chore: remove unused VSCode extension and update mock Firebase Crashlytics test
  .vscode/extensions.json
  packages/altfire_tracker/example/test/mock/mock_firebase_crashlytics.dart
Labels: test

build: update altive_lints and custom_lint
  example/pubspec.yaml
  packages/altfire_lints/pubspec.yaml
Labels: none

test: fix RecordErrorInterceptor test
  packages/altfire_tracker/example/test/record_error_interceptor_test.dart
Labels: test

ci: run-bootstrap: true
  .cspell/flutter-words.txt
  .github/workflows/code-check.yml
  .github/workflows/create-release-pull-request.yaml
  .github/workflows/publish-to-pub-dev.yaml
  .gitignore
  .vscode/settings.json
  example/pubspec.yaml
  melos.yaml
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/example/pubspec.yaml
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_lints/lib/src/lints/dispose_config.dart
  packages/altfire_lints/pubspec.yaml
  packages/altfire_lints_test/pubspec.yaml
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_messenger/example/windows/flutter/generated_plugins.cmake
  packages/altfire_messenger/lib/src/messenger.dart
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/example/lib/main.dart
  packages/altfire_tracker/example/pubspec.yaml
  packages/altfire_tracker/pubspec.yaml
  pubspec.yaml
Labels: none

build: update dependencies (#124)
  .cspell/flutter-words.txt
  .github/workflows/code-check.yml
  .github/workflows/create-release-pull-request.yaml
  .github/workflows/publish-to-pub-dev.yaml
  .gitignore
  .vscode/settings.json
  example/pubspec.yaml
  melos.yaml
  packages/altfire_authenticator/example/pubspec.yaml
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/example/pubspec.yaml
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_lints/lib/src/lints/dispose_config.dart
  packages/altfire_lints/pubspec.yaml
  packages/altfire_lints_test/pubspec.yaml
  packages/altfire_messenger/example/pubspec.yaml
  packages/altfire_messenger/example/windows/flutter/generated_plugins.cmake
  packages/altfire_messenger/lib/src/messenger.dart
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/example/lib/main.dart
  packages/altfire_tracker/example/pubspec.yaml
  packages/altfire_tracker/pubspec.yaml
  pubspec.yaml
Labels: none

ci: fix bootstrap
  .github/workflows/create-release-pull-request.yaml
  .github/workflows/publish-to-pub-dev.yaml
  pubspec.yaml
Labels: none

chore: release packages
  packages/altfire_authenticator/CHANGELOG.md
  packages/altfire_authenticator/pubspec.yaml
  packages/altfire_configurator/CHANGELOG.md
  packages/altfire_configurator/pubspec.yaml
  packages/altfire_lints/CHANGELOG.md
  packages/altfire_lints/pubspec.yaml
  packages/altfire_lints_test/pubspec.yaml
  packages/altfire_messenger/CHANGELOG.md
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_tracker/CHANGELOG.md
  packages/altfire_tracker/pubspec.yaml
Labels: documentation

test: fix
  .cspell/flutter-words.txt
  .cursor/rules/all.mdc
  .vscode/settings.json
  packages/altfire_messenger/example/.gitignore
  packages/altfire_messenger/example/ios/Podfile.lock
  packages/altfire_messenger/example/ios/Runner.xcodeproj/project.pbxproj
  packages/altfire_messenger/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/altfire_messenger/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/altfire_messenger/example/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/altfire_messenger/example/windows/flutter/generated_plugin_registrant.cc
  packages/altfire_messenger/example/windows/flutter/generated_plugins.cmake
  packages/altfire_messenger/pubspec.yaml
  packages/altfire_messenger/test/src/messenger_test.dart
Labels: test

chore: remove windows files
  packages/altfire_messenger/example/windows/.gitignore
  packages/altfire_messenger/example/windows/CMakeLists.txt
  packages/altfire_messenger/example/windows/flutter/CMakeLists.txt
  packages/altfire_messenger/example/windows/flutter/generated_plugin_registrant.cc
  packages/altfire_messenger/example/windows/flutter/generated_plugin_registrant.h
  packages/altfire_messenger/example/windows/flutter/generated_plugins.cmake
  packages/altfire_messenger/example/windows/runner/CMakeLists.txt
  packages/altfire_messenger/example/windows/runner/Runner.rc
  packages/altfire_messenger/example/windows/runner/flutter_window.cpp
  packages/altfire_messenger/example/windows/runner/flutter_window.h
  packages/altfire_messenger/example/windows/runner/main.cpp
  packages/altfire_messenger/example/windows/runner/resource.h
  packages/altfire_messenger/example/windows/runner/resources/app_icon.ico
  packages/altfire_messenger/example/windows/runner/runner.exe.manifest
  packages/altfire_messenger/example/windows/runner/utils.cpp
  packages/altfire_messenger/example/windows/runner/utils.h
  packages/altfire_messenger/example/windows/runner/win32_window.cpp
  packages/altfire_messenger/example/windows/runner/win32_window.h
  packages/altfire_messenger/test/src/messenger_test.dart
Labels: test

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

test:
  - changed-files:
      - any-glob-to-any-file: "**/test/**/*"
